
<% if (@member.present? && @member.message.present?) || flash[:notice] %>
    <%= render partial: "com/nbos/core/shared/alerts", locals: {obj: @member, notice: flash[:notice]} %>
<% end %>

<div class="container">    
    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">Edit Profile</div>
          <div style="float:right; font-size: 85%; position: relative; top:-10px;">
            <%#= link_to "Sign In", com_nbos_core_login_path, style: "color: #fff " %>
          </div>
        </div>
        <div class="panel-body">
          <%= form_for(@member, url: com_nbos_core_edit_path, method: 'post', html: { role: "form", id: "signupForm", class: "form-horizontal" }) do |f| %>
            <%#= f.hidden_field :id,  :value => "#{@member.id}"%>
            <div class="form-group">
              <label for="usd" class="col-md-3 control-label">Description</label>
              <div class="col-md-9">
                 <%= f.text_field :description, autofocus: true, class: "form-control", id: "username", title: "Please enter your username", placeholder: "Description"  %>
                <%= errors_for @member, :description %>
              </div>
            </div>
            <% if !is_a_social_member? %>
            <div class="form-group">
              <label for="email" class="col-md-3 control-label">Email</label>

              <div class="col-md-9">
                <%= f.email_field :email, class: "form-control", id: "email", title: "Please enter your email", placeholder: "example@gmail.com", required: true%>
                <%= errors_for @member, :email %>
              </div>
            </div>
            <% end %>
            <div class="form-group">
              <label for="firstName" class="col-md-3 control-label">First Name</label>

              <div class="col-md-9">
               <%= f.text_field :firstName, class: "form-control", id: "firstName", title: "Please enter your first name", placeholder: "Jhon", required: true%>
                <%= errors_for @member, :firstName %>
              </div>
            </div>
            <div class="form-group">
              <label for="lastname" class="col-md-3 control-label">Last Name</label>

              <div class="col-md-9">
                <%= f.text_field :lastName, class: "form-control", id: "lastName", title: "Please enter your last name", placeholder: "Smith", required: true%>
                <%= errors_for @member, :lastName %>
              </div>
            </div>

            <div class="form-group">
              <label for="lastname" class="col-md-3 control-label">Phone</label>

              <div class="col-md-9">
                <%= f.text_field :phone, class: "form-control", id: "phone", title: "Please enter your phone number", required: true%>
                <%= errors_for @member, :phone %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-3 col-md-9">
               <%= f.submit  "Save", class: "btn btn-success" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>